.progress {
    height: 8px;
    margin-top: 0.65rem;
  }

.badge-person {
    padding: 0.48rem;
    font-size: 0.8rem; 
    background-color: #F2F2F2;
    font-weight: 550;
    /* transition: box-shadow .3s; */
}

.badge-variance {
    padding: 0.48rem;
    font-size: 0.85rem;
    font-weight: 550;
}
